@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Write custom base/ component/ utility styles with `@layer` directive */
@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply border-gray-300 focus:border-blue-500 focus:ring-blue-500 rounded-lg shadow-sm;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-gray-300 focus:ring-blue-500 h-5 text-blue-600 w-5;
  }

  [type='checkbox'] {
    @apply rounded;
  }

  [type='radio'] {
    @apply rounded-full;
  }
}

@layer components {
  .prose :where(code):not(:where([class~='not-prose'] *)) {
    @apply bg-gray-200 dark:bg-gray-800 dark:text-white font-normal px-1 py-0.5 rounded-md text-sm;
  }

  .prose :where(code):not(:where([class~='not-prose'] *))::before {
    content: '';
  }

  .prose :where(code):not(:where([class~='not-prose'] *))::after {
    content: '';
  }
}

.outline-title {
  -webkit-text-stroke: 2px #005aab;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
}

/* Scroll bar */

body::-webkit-scrollbar {
  width: 10px;
  background-color: #fcfcfc;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #074a87;
}

/* Typography */

@layer base {
  .display {
    font-family: 'Poppins', sans-serif;
    @apply text-[2.5rem] font-bold;
  }

  .header-2 {
    font-family: 'Poppins', sans-serif;
    @apply text-[1.6rem] font-bold;
  }

  .header-3 {
    font-family: 'Poppins', sans-serif;
    @apply text-[1.4rem] font-bold;
  }

  .bold-m {
    font-family: 'Poppins', sans-serif;
    @apply text-[1rem] font-bold;
  }

  .bold-sm {
    font-family: 'Poppins', sans-serif;
    @apply text-[0.8rem] font-bold;
  }

  .body-lg {
    font-family: 'Poppins', sans-serif;
    @apply text-[1.2rem] font-medium;
  }

  .body-m {
    font-family: 'Poppins', sans-serif;
    @apply text-[1rem] font-medium;
  }

  .body-sm {
    font-family: 'Poppins', sans-serif;
    @apply text-[0.8rem] font-medium;
  }
}

/* Colors */

@layer base {
  .bg-scrim {
    @apply bg-neutral-900/60;
  }
}

/* Input */

@layer components {
  .text-input {
    @apply py-1 pr-2 pl-3 border-grey border-[1px] rounded-xl;
  }
}

/* Transitions */

@layer utilities {
  .transition-fast {
    @apply transition-all duration-150 ease-in-out;
  }

  .transition-long {
    @apply transition-all duration-500 ease-in-out;
  }
}
